* {
  box-sizing: border-box;
}

body {
  font-family: "Karla", sans-serif;
  margin: 0;
}

/* Class selectors */
.header {
  color: white;
  display: flex;
  justify-content: space-between;
  background: linear-gradient(90deg, #2d8454 1.18%, #10b75b 100%);;
  padding-left: 20px;
  padding-right: 30px;
}

.header-left {
  display: flex;
}

.header-img {
  margin-right: 8px;
  max-width: 35px;
  object-fit: contain;
}